  .ITEMcarrouselE {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
  .ITEMcarrouselE::-webkit-scrollbar {
    display: none;
    
  }
  .ITEMcard {
    scroll-snap-align: start;
    border-radius: 20px;
    height: 100%;
    width: 1300px;
    
    margin: 0.5%;
    padding: 0.5%;
  
  }
  .mydiv { filter: grayscale(100%) blur(3px);}

/* funcion del blanco y negro "grayscale" al 50% y un desenfoque "blur" de 10px */
  img {
    filter:  saturate(70%);
  }

  /*Quitar barra horizontal*/
  .hideScroll {
    overflow: hidden;
  }
  /*
a: link -, los enlaces no visitados normales
a: visited - enlaces que el usuario ha visitado
a: hover - cuando el usuario pasa el ratón sobre el enlace cuando
a: active - el enlace se hace clic en el momento
  */
  a.estilo1 {
    background-color:rgb(36, 211, 138);
    color:#27241d;
    padding: 8px;
    text-decoration:none;
  }
  a.estilo2 {
    background-color:rgb(216, 40, 92);
    color:#fff;
    padding: 8px;
    text-decoration:none;
  }
  
  
  
   